{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}Heróis Cadastrados{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Heróis Cadastrados</h2>
        <a href="{% url 'criar_heroi' %}" class="btn btn-primary">Cadastrar Novo Herói</a>
    </div>

    <div class="row">
        {% for heroi in herois %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ heroi.codinome }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ heroi.nome_real }}</h6>
                    <p class="card-text"><strong>Poder:</strong> {{ heroi.poder_principal }}</p>
                    <p class="card-text"><strong>Cidade:</strong> {{ heroi.cidade }}</p>
                    <p class="card-text">{{ heroi.historia|truncatewords:20 }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Nenhum herói cadastrado ainda.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
